/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ---------- This is the beginning of my 377 FoCo Web Page Project ------------ */

html,
body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background-image: url(images/floater-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;


}

.center {
	width: 800px;
	padding: 2%;
	margin: 1px auto;
	/*background: rgba(0, 150, 178, .75);
	/*this uses opacity of 75% for the background color*/
	text-align: center;
	border: 0px dashed white;
}


#logo {
	margin-bottom: 10px;
	text-align: center;
}

#headshots {
	margin-bottom: 15px;
	margin-top: 10px;
	text-align: center;
}

h1 { /*HEADER 01*/
	font-family: calling-code, sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 2em;
	margin: 20px auto 10px auto;
	color: #a1ff3d;
}

h2 { /*HEADER 02*/
	font-family: calling-code,sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 1em;
	line-height: 1.4;
	color: #fff;
	padding: 0px 0px;
	margin: 25px auto 0px auto;
}

p {
	/* PARAGRAPH */
	font-family: calling-code,sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: .75em;
	line-height: 1.6;
	color: #fff;
}

h4 { /*HEADER 01 FOR ABOUT US*/
	font-family: calling-code, sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 1.75em;
	margin-top: 2em;
	/*padding-top: 5%;*/
	/*margin: 20px auto 10px auto;*/
	color: #444;
}

h5 { /*HEADER 02 FOR ABOUT US*/
	font-family: calling-code,sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 1.2em;
	line-height: 1.4;
	color: rgba(134, 250, 84, 1);
	padding: 0px 0px;
	margin: 25px auto 5px auto;
}

h6 { /* PARAGRAPH FOR ABOUT US */
	font-family: calling-code,sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: .85em;
	line-height: 1.2;
	color: #444;
	background: rgba(255, 255, 255, .75);
	padding: 2%;
	border-radius: 1em;
}

.leftish { /*ABOUT US FORMATTING*/
	width: 750px;
	padding: 2%;
	padding-top: .5%;
	margin-top: 50px;
	margin: 1px auto;
	text-align: left;
	/*background: rgba(255,255,255,.5);*/
	margin-bottom: 1em;
	border-radius: 1.5em;
}

#leftish { /*ABOUT US FORMATTING*/
	margin-bottom: 1em;
	text-align: left;
}

#leftish img { /*ABOUT US FORMATTING*/
	border-radius: .75em;
}

.navigation-bar { /*STYLES NAVIGATION BAR*/
	font-family: calling-code,sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 1.25em;
	/*line-height: 1.6;*/
	margin: 0 auto;

	text-align: right;
	/*margin-top: 2em;*/
    width: 100%;  /* i'm assuming full width */
    height: 100px; /* change it to desired width */
    background: rgba(255, 255, 255, .75) /* change to desired color */
}

.logo { /*STYLES LOGO IN NAVIGATION BAR*/
    /*display: inline-block;*/
    vertical-align: middle;
	float: left;
	padding: .5em;
    /*margin-right: 20px;
    margin-top: 15px;    /* if you want it vertically middle of the navbar. */
}

.navigation-bar > a { 
    /*display: inline-block;*/
    vertical-align: top;
	float: left;
    margin-right: 10em;
    height: 20em;        /* if you want it to take the full height of the bar */
    line-height: 20em;    /* if you want it vertically middle of the navbar */
}

nav li {
	display: inline;
}

nav a {
	display: inline-block;
	padding: .5em;
	color: #444;
	text-decoration-line: none;
}

a:hover {
	color:black;
	/*background: rgba(255,255,255,.5);*/
}

.grow:hover {
	-webkit-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
}

/* Dropdown Button */
.dropbtn {
	color: #444;
	font-size: 1em;
	border: none;
	font-family: calling-code,sans-serif;
	font-weight: 700;
	font-style: normal;
	line-height: 1.6;
	margin: 0 auto;
	text-align: left;
	margin-top: 2em;
	background: rgba(255,255,255,0) ;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
	position: relative;
	display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
	display: none;
	position: absolute;
	background: rgb(255, 255, 255,.5);
	min-width: 100;
	text-align: left;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
/* Links inside the dropdown */
  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  
/* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: rgb(172, 208, 255,.70);}
  
/* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
/* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn 
  {		color:black;
		background: rgb(255,255,255,.5)
	}

/*-----------BEGINNING OF PROJECT PAGE FORMATTING-----------*/


body a {
    text-decoration: none;
}
.thumb {
    display: inline;
    max-height: 20em;
}
#thumblist {
    text-align: center;
    border-radius: .5em;
    padding-bottom: 5%;
}

#thumblist img {
    border-radius: .75em;
}

.description {
      color: #444;
      text-decoration: none;
	  margin-top: 2%;
}

/** relevant CSS Below **/

.lightbox {
    display: none; /**sets the default display to hide the lightbox until it's the :target**/
    position: fixed; /**the rest of this styling makes the lightbox full screen when selected**/
    z-index: 999;
    width: 100%;
    height: 100%;
    text-align: center;
	vertical-align: top;
    top: 0;
    left: 0;
	background: rgba(0,0,0,.8);
}
.lightbox img { /**sets the styling of the image in the lightbox**/
	max-width: 90%;
	max-height: 50em;
    text-align: center;
	background: none;
}

.lightbox:target { /**this is where the magic happens. makes the lightbox display when it's the target of a clickable link**/
    outline: none;
    display: block;
}

.previous { /**styling the left arrow**/
    position: fixed;
    left: 4px;
    top: 40%;
    width: 40px;
	background: none;
}
.exit { /**styling the exit button**/
    position: fixed;
    top: 4px;
    right: 4px;
    width: 40px;
	background: none;
}
.next { /**styling the right arrow**/
    position: fixed;
    right: 4px;
    top: 40%;
    width: 40px;
	background: none;
}
